*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}


body{
    text-align: center;
}


.container{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    width: 100vw;
    height: 80vh;
    box-sizing: border-box;
}


.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:45%;
    gap: 80px;
} 


h1{
    
    box-sizing: border-box;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}


img{
    border-radius: 50%;
    object-fit: cover;
}


.controls{
    width:100%;
    height:30%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}


.player1{
    display: flex;
    gap: 50px;
    width:300px;
    height:250px;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}


.pointsval{
    width:50px;
    height:50px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 40px;
    color: black;
}


.player2{
    display: flex;
    gap: 50px;
    width:300px;
    height:250px;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    justify-content:center;
}


.playername{
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 40px;
}


.announcement{
    width:100%;
    height:30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img:hover{
    border: 8px solid black;
}
